@page "/users"
@inject IUserService UserService

<h3>Registered Users</h3>

@if (users == null)
{
    <p>Loading...</p>
}
else
{
    <ul class="user-list">
        @foreach (var user in users)
        {
            <li>@user.Name - @user.Email</li>
        }
    </ul>
}

@code {
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }
}